# Development files
**/node_modules
front-end/public/**/*.bundle.*
.vscode

/notes

# Config scripts
/config/secrets
/config/files/local.json
/config/files/local*.json
/npm-scripts/start-back-end/pm2-ecosystem.json

# Nginx
/npm-scripts/start-nginx/nginx-access.log
/npm-scripts/start-nginx/nginx-error.log
/npm-scripts/start-nginx/nginx.conf

# Log files
**/npm-debug.log*
back-end/services/auth/logs
